.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h3{
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}
.error {
  color: red;
  font-size: 14px;
  margin: 10px 0;
}

.input {
  width: 50%;
  padding: 10px;
}

.submit-button {
  width: 400px;
  padding: 10px;
  background-color: #1976d2;
  color: white;
  cursor: pointer;
}

.todo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-container ul {
  list-style: none;
  padding: 0;
}
.todo-container ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
}

.todo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px;
  max-width: 250px;
}

.todo-name {
  font-size: 18px;
  font-weight: bold;
}

.todo-description {
  max-width: 70%;
  font-size: 14px;
}

.select-btn {
  background-color: #5c36f4;
  color: white;
  padding: 10px;
  cursor: pointer;
  border: none;
}

.update-btn {
  background-color: #115404;
  color: white;
  padding: 10px;
  cursor: pointer;
  border: none;
}

.delete-btn {
  background-color: #f44336;
  color: white;
  padding: 10px;
  cursor: pointer;
  border: none;
}
